Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2
MarkupSafe==1.1.0
Werkzeug==2.2.3
flask-sqlalchemy
flask-bcrypt
flask_openid
flask-dance
flask-jwt-extended
Flask-Migrate
Flask-WTF
Flask-Login
Flask-Restful
Faker
blinker
